.title{
  background-image:  url("https://f1.bcbits.com/img/a4026683276_16.jpg");
  text-align: center;
}
h1{
  color: #99FFCC;
  text-align: center;
}
h3{
  color: white;
}
a{
  color: white;
  font-style: sans-serif;
}
p{
  color: white;
}